# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List of popular languages for Data Science
* List of commonly used libraries used by Data Scientists
* Code examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. SciPy

<tr>
<th><Data Science Tools></th>
<td><Jupiter Notebooks></td>
<td><R Studio></td>
<td><ML Flow></td>
</tr>

|Data Science Tools|
|---|
|Jupiter Notebooks|
|ML Flow|
|TensorFlow|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
def convert(minutes):
    hour, min = divmod(minutes, 60)
    return '%d:%02d' % (hour, min)
     
# Driver program
n = 200
print(convert(n))

3:20

## Author
Olivia Njinjoh